*{
    margin:0px;
    padding:0px
}

.maincontainer{
    background-color:aqua;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.topcontainer{
    background-color:red;
    display: flex;
    flex:0.1;
}
.bottomcontainer{
    background-color:yellow;
    display:flex;
    flex: 0.9;
}
.lefttopcontainer{
    background-color: red;
    display: flex;
    flex: 0.2;
    align-items: center;
    padding-left: 20px;
}
.righttopcontainer{
    background-color: red;
    display: flex;
    flex: 0.8;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}
.leftbottomcontainer{
    background-color: white;
    display: flex;
    flex: 0.5;
    
}
.rightbottomcontainer{
    background-color: white;
    display: flex;
    flex: 0.5;
}
.links{
    list-style-type: none;
}
.links li{
    display: inline;
    padding-right: 20px;
}
.apply-now-button{
    padding: 10px 20px;
}
.marg{
    margin-top: 30px;
}
.top{
    margin-top: 30px;
}
.now{
    padding: 10px 20px;
}
#front{
    font-size: larger;
}